<nav class="menu" role="nav">
    <ul>
      <li><a href="/tag/food/">Fooding</a></li>
      <li><a href="/tag/code/">Coding</a></li>
      <li><a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=8MBQYFGJXL4XE" class="button">Offre-moi un kebab</a></li>
    </ul>
</nav>